:root {
  --bg-main: #050000;
  --bg-soft: #0b0202;

  --accent: #b11212;      /* professional crimson */
  --accent-soft: #ff4d4d;

  --text-main: #f5eaea;
  --text-muted: #c7a6a6;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.hero {
  position: fixed;
  inset: 0;
  z-index: 5;
}
